.noticias-slide-area {
    .slider-area {
        position: relative;
        .arrows {
            position: absolute;
            right: 20px;
            top: 22px;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            .arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 100rem;
                background-color: $verde-claro;
                color: $blanco;
                font-size: 16px;
                margin: 0 2px;
                text-align: center;
                line-height: 0;
                &:hover {
                    background-color: $verde-oscuro;
                }
            }
        }
        .slick-slider {
            .slick-list {
                padding-right: 30%;
                .slide {
                    margin-right: 20px;
                }
            }
        }
    }
}

.videos-slide-area {
    .slider-area {
        position: relative;
        #video-arrow-prev {
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
        }
        #video-arrow-next {
            position: absolute;
            right: -10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
        }
        .arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 100rem;
            background-color: $verde-claro;
            color: $blanco;
            font-size: 16px;
            margin: 0 2px;
            text-align: center;
            line-height: 0;
            &:hover {
                background-color: $verde-oscuro;
            }
        }
        .slick-slider {
            .slick-list {
                padding-right: 15%;
                .slide {
                    margin-right: 20px;
                    .small-news-area {
                        height: 280px;
                    }
                }
            }
        }
    }
}
.foto-galeria-feat {
    height: 495px;
    .small-news-area {
        height: 100%;
    }
}

.otras-gal-slide-area {
    margin-top: 20px;
    .slider-area {
        position: relative;
        #foto-gal-arrow-prev {
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
        }
        #foto-gal-arrow-next {
            position: absolute;
            right: -10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
        }
        .arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 100rem;
            background-color: $verde-claro;
            color: $blanco;
            font-size: 16px;
            margin: 0 2px;
            text-align: center;
            line-height: 0;
            &:hover {
                background-color: $verde-oscuro;
            }
        }
        .slick-slider {
            .slick-list {
                padding-right: 15%;
                .slide {
                    margin-right: 20px;
                    .small-news-area {
                        height: 220px;
                    }
                }
            }
        }
    }
}
