button,
.btn {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 12px;
    text-transform: uppercase;
    height: auto;
    line-height: 0;
    padding-bottom: calc(1.25rem - 1px);
    padding-left: calc(1.25rem - 1px);
    padding-right: calc(1.25rem - 1px);
    padding-top: calc(1.25rem - 1px);
    position: relative;
    vertical-align: top;
    font-weight: 700;
    font-family: $secondary-font;
    @extend .transition;
    &.is-rounded {
        padding-left: calc(3rem - 1px);
        padding-right: calc(3rem - 1px);
        border-radius: 100rem;
    }
    &.is-verde {
        background-color: $verde-claro;
        color: $blanco;
        border-color: $verde-claro;
        &:hover {
            background-color: $verde-oscuro;
            color: $blanco;
            border-color: $verde-oscuro;
        }
        &.active {
            background-color: $verde-oscuro;
            color: $blanco;
            border-color: $verde-oscuro;
        }
        &.is-bordered {
            background-color: transparent;
            color: $verde-claro;
            border-color: $verde-claro;
            &:hover {
                background-color: $verde-claro;
                color: $blanco;
                border-color: $verde-claro;
            }
        }
    }
    &.is-verde-oscuro {
        background-color: $verde-oscuro;
        color: $blanco;
        border-color: $verde-oscuro;
        &:hover {
            background-color: $blanco;
            color: $verde-oscuro;
            border-color: $verde-oscuro;
        }
        &.active {
            background-color: $verde-claro;
            color: $blanco;
            border-color: $verde-claro;
        }
    }
    &.is-burdeo {
        background-color: $burdeo;
        color: $blanco;
        border-color: $burdeo;
        &:hover {
            background-color: transparent;
            color: $burdeo;
            border-color: $burdeo;
        }
        &.active {
            background-color: $burdeo;
            color: $blanco;
            border-color: $burdeo;
        }
        &.is-bordered {
            background-color: transparent;
            color: $burdeo;
            border-color: $burdeo;
            &:hover {
                background-color: $burdeo;
                color: $blanco;
                border-color: $burdeo;
            }
        }
    }
    &.is-celeste {
        background-color: $celeste;
        color: $blanco;
        border-color: $celeste;
        &:hover {
            background-color: transparent;
            color: $celeste;
            border-color: $celeste;
        }
        &.active {
            background-color: $celeste;
            color: $blanco;
            border-color: $celeste;
        }
        &.is-bordered {
            background-color: transparent;
            color: $celeste;
            border-color: $celeste;
            &:hover {
                background-color: $celeste;
                color: $blanco;
                border-color: $celeste;
            }
        }
    }
    &.is-amarillo {
        background-color: $amarillo;
        color: $blanco;
        border-color: $amarillo;
        &:hover {
            background-color: transparent;
            color: $amarillo;
            border-color: $amarillo;
        }
        &.active {
            background-color: $amarillo;
            color: $blanco;
            border-color: $amarillo;
        }
        &.is-bordered {
            background-color: transparent;
            color: $amarillo;
            border-color: $amarillo;
            &:hover {
                background-color: $amarillo;
                color: $blanco;
                border-color: $amarillo;
            }
        }
    }
    &.has-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        span {
            display: inline-block;
            margin-left: 0.35rem;
        }
        i {
            font-size: 1.25rem;
        }
    }
    &.size-xl {
        padding-bottom: calc(1.5rem - 1px);
        padding-left: calc(3.5rem - 1px);
        padding-right: calc(3.5rem - 1px);
        padding-top: calc(1.5rem - 1px);
        font-size: 1.125rem;
    }
    &.size-s {
        padding-bottom: calc(1.25rem - 1px);
        padding-left: calc(1.25rem - 1px);
        padding-right: calc(1.25rem - 1px);
        padding-top: calc(1.25rem - 1px);
        font-size: 12px;
    }
    &.size-xs {
        padding-bottom: calc(0.5rem - 1px);
        padding-left: calc(1.5rem - 1px);
        padding-right: calc(1.5rem - 1px);
        padding-top: calc(0.5rem - 1px);
        font-size: 12px;
    }
    &.is-transparent {
        color: $blanco;
    }
}
