.video-gal-page {
    .videos-slide-area {
        .slider-area {
            margin-left: -10px;
            margin-right: -10px;
            .slick-slider {
                .slick-list {
                    padding-right: 0;
                    .slide {
                        margin-right: 0;
                        .small-news-area {
                            height: 240px;
                            margin: 0 10px;
                            .content {
                                .content-area {
                                    flex-direction: column;
                                    padding: 25px;
                                    .play-area {
                                        margin-bottom: 15px;
                                    }
                                    .post-info {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.videos-feat-layout {
    @extend .flex;
    @extend .align-start;
    @extend .justify-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 470px;
    .main-feat-area {
        @extend .col-66;
        height: 100%;
        margin-right: 20px;
        .small-news-area {
            height: 100%;
            .content {
                position: relative;
                .play-area {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    img {
                        margin: 0 auto;
                        display: block;
                    }
                }
                .content-area {
                    flex-direction: column;
                    .post-info {
                        .post-title {
                            @extend .font-24;
                        }
                    }
                }
            }
        }
    }
    .small-feat-area {
        @extend .col-32;
        height: 47.5%;
        .small-news-area {
            height: 100%;
        }
    }
}

.single-video-heading {
    &.page-heading {
        @extend .relative;
        height: 535px;
        @extend .flex;
        @extend .justify-between;
        @extend .align-end;
        &:before {
            display: none;
        }
    }
    .content-area {
        @extend .flex;
        @extend .justify-between;
        @extend .align-center;
        @extend .relative;
        flex-wrap: wrap;
        width: 100%;
        @extend .z-index-4;
        .width-content {
            max-width: 780px;
            width: 100%;
        }
        .play-icono {
            @extend .flex;
            @extend .align-center;
            @extend .justify-center;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
            a {
                display: block;
                width: 70px;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
        .video-intro {
            padding: 40px;
            .post-date {
                @extend .uppercase;
                color: $blanco;
                @extend .font-18;
            }
            h1 {
                @extend .bold;
                color: $blanco;
                @extend .font-36;
                margin: 20px 0 10px;
            }
            .bajada {
                p {
                    @extend .light;
                    color: $blanco;
                    @extend .font-14;
                }
            }
        }
    }
}
.single-video-content {
    padding: 40px;
    width: 100%;
    @extend .flex;
    @extend .align-start;
    @extend .justify-end;
    .width-content {
        width: 100%;
        max-width: 700px;
    }
}
