.gob-content-area {
    .head-page,
    .wysiwyg {
        width: 100%;
        max-width: 700px;
    }
    .head-page {
        margin: 170px 0 40px;
        h1 {
            @extend .font-55;
            color: $verde-oscuro;
            margin-bottom: 70px;
        }
        .bajada {
            p {
                @extend .font-24;
                color: $verde-oscuro;
                @extend .light;
            }
        }
    }
    .wysiwyg {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $verde-claro;
        }
        p {
            @extend .font-14;
        }
        h1 {
            @extend .font-28;
        }
        h2 {
            @extend .font-26;
        }
        h3 {
            @extend .font-24;
        }
        h4 {
            @extend .font-21;
        }
        h5 {
            @extend .font-18;
        }
        h6 {
            @extend .font-16;
        }
    }
}
.files-area {
    @extend .flex;
    @extend .align-start;
    @extend .justify-start;
    flex-wrap: wrap;
    margin-top: -12px;
    margin-right: -12px;
    margin-left: -12px;
    .file-box {
        margin: 12px;
        min-width: 300px;
        max-width: 350px;
        flex: 1 1 10%;
        @extend .transition;
        &:hover {
            @extend .box-shadow;
        }
    }
}
.sliders-area {
    border: 1px solid $gris-3;
    background-color: $blanco;
    padding-top: 55px;
    @extend .border-radius-m;
    @extend .box-shadow;
    @extend .flex;
    @extend .align-end;
    @extend .justify-end;
    padding-bottom: 118px;
    position: relative;
    .directorio {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 672px;
        width: 70%;
        #directorio-carousel {
            .slick-list {
                padding: 0 0 0 140px;
            }
            .slick-current {
                pointer-events: none;
            }
            .slide {
                cursor: pointer;
                .person-box {
                    margin: 0 10px;
                    .person-img {
                        position: relative;
                        width: 100%;
                        height: 200px;
                        @extend .border-radius-m;
                        overflow: hidden;
                        .veil {
                            top: auto;
                            bottom: 0;
                            height: 30%;
                            @include linear-gradient(
                                rgba(0, 0, 0, 0.95),
                                rgba(0, 0, 0, 0),
                                0
                            );
                            z-index: 1;
                            opacity: 0;
                            @extend .transition;
                        }
                        .blur {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 2;
                            background-color: rgba($negro, 0.35);
                            opacity: 1;
                            @extend .transition;
                        }
                    }
                    .person-info {
                        opacity: 0;
                        @extend .transition;
                        margin-top: 30px;
                        border-top: 4px solid $verde-claro;
                        padding-bottom: 20px;
                        span {
                            color: $verde-oscuro;
                            display: block;
                            text-align: left;
                            margin-top: 10px;
                            line-height: 90%;
                            &.cargo {
                                @extend .light;
                                @extend .font-14;
                                @extend .uppercase;
                            }
                            &.nombre {
                                @extend .font-21;
                                @extend .bold;
                            }
                        }
                    }
                    &:hover {
                        .person-img {
                            .veil {
                                opacity: 1;
                            }
                            .blur {
                                opacity: 0;
                            }
                        }
                        .person-info {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .single-person {
        width: 330px;
        height: 470px;
        background-color: $blanco;
        position: relative;
        z-index: 2;
        #single-person-slider {
            width: 100%;
            height: 100%;
            .slick-list {
                height: 100%;
                .slick-track {
                    height: 100%;
                }
            }
            .slide {
                height: 100%;
                .person-box {
                    height: 100%;
                    margin: 0 10px;
                    .person-img {
                        @extend .border-radius-m;
                        overflow: hidden;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        .veil {
                            top: auto;
                            bottom: 0;
                            height: 30%;
                            @include linear-gradient(
                                rgba(0, 0, 0, 0.95),
                                rgba(0, 0, 0, 0),
                                0
                            );
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
    .bio {
        position: relative;
        width: 278px;
        height: 470px;
        background-color: $blanco;
        #bio-slider {
            width: 100%;
            height: 100%;
            .slick-list {
                height: 100%;
                .slick-track {
                    height: 100%;
                }
            }
            .slide {
                height: 100%;
                .person-box {
                    height: 100%;
                    margin: 0 30px;
                    padding-top: 60px;
                    .person-info {
                        span {
                            display: block;
                            text-align: left;
                            margin-top: 10px;
                            line-height: 90%;
                            &.cargo {
                                color: $verde-claro;
                                @extend .light;
                                @extend .font-14;
                                @extend .uppercase;
                            }
                            &.nombre {
                                color: $verde-oscuro;
                                @extend .font-21;
                                @extend .bold;
                                position: relative;
                                &:after {
                                    position: absolute;
                                    bottom: -12px;
                                    left: 0;
                                    width: 95px;
                                    height: 1px;
                                    background-color: $verde-oscuro;
                                    content: "";
                                    display: block;
                                }
                            }
                        }
                        p {
                            margin-top: 60px;
                            text-align: left;
                            @extend .font-11;
                        }
                    }
                }
            }
        }
        .arrows {
            position: absolute;
            left: 30px;
            bottom: 0;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            .arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 100rem;
                background-color: $verde-claro;
                color: $blanco;
                font-size: 16px;
                margin: 0 2px;
                text-align: center;
                line-height: 0;
                &:hover {
                    background-color: $verde-oscuro;
                }
            }
        }
    }
}
