@font-face {
    font-family: "icomoon";
    src: url("components/merlin/icons/icomoon.eot?fwtrqf");
    src: url("components/merlin/icons/icomoon.eot?fwtrqf#iefix")
            format("embedded-opentype"),
        url("components/merlin/icons/icomoon.ttf?fwtrqf") format("truetype"),
        url("components/merlin/icons/icomoon.woff?fwtrqf") format("woff"),
        url("components/merlin/icons/icomoon.svg?fwtrqf#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-equis:before {
    content: "\e918";
}
.icon-out-link:before {
    content: "\e91a";
}
.icon-file:before {
    content: "\e919";
}
.icon-chat:before {
    content: "\e915";
}
.icon-envelope:before {
    content: "\e916";
}
.icon-phone:before {
    content: "\e917";
}
.icon-twitter-square:before {
    content: "\e912";
}
.icon-facebook-square:before {
    content: "\e913";
}
.icon-hands:before {
    content: "\e911";
}
.icon-buscar:before {
    content: "\e910";
}
.icon-clock:before {
    content: "\e90d";
}
.icon-indicators:before {
    content: "\e90e";
}
.icon-arrow-right:before {
    content: "\e90f";
}
.icon-home:before {
    content: "\e900";
}
.icon-serccu:before {
    content: "\e901";
}
.icon-sustentabilidad:before {
    content: "\e902";
}
.icon-consumo:before {
    content: "\e903";
}
.icon-marcas:before {
    content: "\e904";
}
.icon-innovacion:before {
    content: "\e905";
}
.icon-organigrama:before {
    content: "\e906";
}
.icon-rrhh:before {
    content: "\e907";
}
.icon-noticias:before {
    content: "\e908";
}
.icon-download:before {
    content: "\e914";
}
.icon-chevron-right:before {
    content: "\e909";
}
.icon-chevron-left:before {
    content: "\e90a";
}
.icon-chevron-down:before {
    content: "\e90b";
}
.icon-chevron-up:before {
    content: "\e90c";
}
.icon-share2:before {
    content: "\ea82";
}
