.home-main-container {
    & > .wrap-xl {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        &:before {
            display: none;
        }
    }
    .box-section {
        margin-bottom: 25px;
        &.box-full {
            width: 100%;
        }
        &.box-two-third {
            width: 66%;
        }
        &.box-half {
            width: 49%;
        }
        &.box-third {
            width: 32%;
        }
    }
}
.aldia-home {
    width: 100%;
    .slider-area {
        width: 100%;
        height: 450px;
        overflow: hidden;
        position: relative;
        .arrows {
            position: absolute;
            right: 20px;
            top: 22px;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            .arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 100rem;
                background-color: $verde-claro;
                color: $blanco;
                font-size: 16px;
                margin: 0 2px;
                text-align: center;
                line-height: 0;
                &:hover {
                    background-color: $verde-oscuro;
                }
            }
        }
        #aldia-home-slider {
            width: 100%;
            height: 100%;
            .slick-track {
                height: 100%;
            }
            .slick-list {
                height: 100%;
            }
            .slide {
                width: 100%;
                height: 100%;
                .slide-content {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-start;
                    .photo {
                        z-index: 1;
                        .veil {
                            @include linear-gradient(
                                rgba(0, 0, 0, 0.85),
                                rgba(0, 0, 0, 0),
                                0
                            );
                        }
                    }
                    .category {
                        position: absolute;
                        z-index: 2;
                        left: 20px;
                        top: 22px;
                        font-weight: 700;
                        font-size: 13px;
                        color: $blanco;
                        text-transform: uppercase;
                    }
                    .content {
                        padding: 22px 20px;
                        width: 100%;
                        position: relative;
                        z-index: 3;
                        @extend .flex;
                        @extend .align-center;
                        @extend .justify-between;
                        flex-wrap: wrap;
                        .content-area {
                            @extend .col-65;
                        }
                        .button-area {
                            @extend .col-30;
                            text-align: center;
                        }
                        .fecha {
                            @extend .font-13;
                            font-weight: 300;
                            text-transform: uppercase;
                            color: $blanco;
                            display: block;
                            margin-bottom: 1rem;
                            width: 100%;
                        }
                        .post-title {
                            @extend .font-36;
                            font-weight: 700;
                            color: $blanco;
                        }
                        .post-excerpt {
                            p {
                                @extend .font-14;
                                font-weight: 300;
                                color: $blanco;
                            }
                        }
                    }
                }
            }
        }
    }
}
.birthday-area {
    background-color: $gris-3;
    border: 1px solid $gris-4;
    padding: 10px 23px;
    -webkit-box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
    @extend .border-radius-m;
    .birthday-person {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px;
        overflow: hidden;
        @extend .border-radius-s;
        background-color: $blanco;
        border: 1px solid $verde-claro;
        margin: 5px;
        .avatar-box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 52%;
            .avatar {
                width: 66px;
                height: 66px;
                border-radius: 100rem;
                overflow: hidden;
                .profile {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                }
            }
        }
        .info-box {
            width: 48%;
            span {
                display: block;
                width: 100%;
            }
            .day {
                color: $gris-2;
                font-weight: 300;
                font-size: 8px;
                text-transform: uppercase;
                margin-bottom: 12px;
            }
            .name {
                font-size: 14px;
                font-weight: 700;
                color: $verde-oscuro;
                line-height: 40%;
            }
            .range {
                display: inline-block;
                font-size: 10px;
                text-transform: uppercase;
                font-weight: 300;
                color: $verde-claro;
                line-height: 70%;
                margin-bottom: 12px;
            }
            .btn {
                padding: 0.5rem 1.25rem;
                font-size: 10px;
                font-family: $primary-font;
                i {
                    font-size: 12px;
                }
            }
        }
        &:before {
            mask-image: url(img/corner-left.svg);
            mask-repeat: no-repeat;
            mask-size: contain;
            background-color: $verde-claro;
            width: 60%;
            height: 70%;
            position: absolute;
            left: -1px;
            top: 0;
            display: block;
            content: "";
        }
    }
    #birthday-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 21px;
        margin-bottom: 10px;
        .slick-dots {
            position: relative;
            li {
                background-color: rgba($verde-claro, 0.5);
                transform: scale(0.85);
                margin: 0 2px;
                &.slick-active {
                    background-color: $verde-claro;
                }
            }
        }
    }
}
.small-news-area {
    height: 380px;
    position: relative;
    overflow: hidden;
    .photo {
        z-index: 1;
        .veil {
            @include linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0), 0);
        }
    }
    .content {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 3;
        .post-cat-area {
            padding: 22px 20px;
            span {
                color: $blanco;
                @extend .font-13;
                @extend .bold;
                @extend .uppercase;
            }
        }
        .content-area {
            position: absolute;
            bottom: -62px;
            padding: 22px 20px;
            width: 100%;
            @extend .transition;
            .fecha {
                @extend .font-13;
                font-weight: 300;
                text-transform: uppercase;
                color: $blanco;
                display: block;
                margin-bottom: 1rem;
                width: 100%;
            }
            .post-title {
                @extend .font-23;
                font-weight: 700;
                color: $blanco;
                margin-bottom: 10px;
            }
            .post-excerpt {
                @extend .font-12;
                font-weight: 300;
                color: $blanco;
            }
            .button-area {
                margin-top: 20px;
            }
        }
    }
    &:hover {
        .content {
            .content-area {
                bottom: 0px;
            }
        }
    }
    &.video-type {
        display: block;
        .content {
            .content-area {
                bottom: 0;
                padding: 20px 35px;
                @extend .flex;
                @extend .align-start;
                @extend .justify-start;
                .play-area {
                    width: 34px;
                    margin-right: 35px;
                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
                .post-info {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 0;
                }
                .post-title {
                    @extend .font-16;
                    margin-bottom: 0;
                }
            }
        }
    }
}
.home-sidebar {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.twitter-container {
    align-self: stretch;
    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .twitter-timeline {
        flex-grow: 1;
        height: auto;
        background-color: $blanco;
        border: 1px solid $gris-4;
        -webkit-box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
        @extend .border-radius-m;
    }
}
.concursos-container {
    align-self: stretch;
    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .concursos-area {
        flex-grow: 1;
        border: 1px solid $verde-claro;
        @extend .border-radius-m;
        -webkit-box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
        background-color: $blanco;
        padding: 36px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        .box-content {
            width: 100%;
        }
        .titulo {
            color: $verde-claro;
            @extend .bold;
            @extend .font-24;
            @extend .text-center;
        }
        .bajada {
            margin: 10px 0;
            p {
                color: $verde-claro;
                @extend .font-14;
                @extend .light;
                @extend .text-center;
            }
        }
        .ref-imagen {
            width: 100%;
            height: 150px;
            margin: 20px 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .boton-mas {
            text-align: center;
        }
    }
}
.organigrama-container {
    align-self: stretch;
    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .organigrama-area {
        flex-grow: 1;
        border: 1px solid $verde-claro;
        @extend .border-radius-m;
        -webkit-box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
        background-color: $blanco;
        padding: 36px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        .titulo {
            color: $verde-claro;
            @extend .bold;
            @extend .font-24;
        }
        .bajada {
            margin: 10px 0;
            p {
                color: $verde-claro;
                @extend .font-14;
                @extend .light;
            }
        }
    }
}
