.login-screen {
    position: relative;
    height: 100%;
    .bg-image {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        .veil {
            @include linear-gradient(
                rgba(0, 0, 0, 0.85),
                rgba(0, 0, 0, 0),
                -45deg
            );
            &:before {
                mask-image: url(img/corner-left.svg);
                mask-repeat: no-repeat;
                mask-size: contain;
                background-color: rgba($verde-claro, 0.75);
                width: 110%;
                height: 80%;
                position: absolute;
                left: 0;
                bottom: 0;
                top: auto;
                display: block;
                content: "";
                transform: rotate3d(0, 0, 1, 180deg);
                z-index: 3;
            }
        }
    }
    .wrap-xl {
        position: relative;
        z-index: 2;
        height: 100%;
        .login-content {
            width: 50%;
            height: 100%;
            padding: 40px 0;
            margin-left: auto;
            margin-right: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            .flags-date {
                @extend .flex;
                @extend .align-center;
                @extend .justify-between;
                width: 100%;
                .date-area {
                    span {
                        @extend .font-12;
                        @extend .bold;
                        color: $blanco;
                    }
                }
                .flags-area {
                    .flag-list {
                        @extend .flex;
                        @extend .align-center;
                        @extend .justify-end;
                        li {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 0.5rem;
                            padding-left: 0.5rem;
                            position: relative;
                            .flag {
                                width: 10px;
                                height: auto;
                            }
                            span {
                                font-size: 12px;
                                color: $blanco;
                                font-weight: 700;
                                line-height: 100%;
                                margin-left: 0.25rem;
                                display: inline-block;
                            }
                            &:nth-child(n + 2) {
                                &:before {
                                    display: block;
                                    content: "·";
                                    color: $blanco;
                                    position: absolute;
                                    left: -0.15rem;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                }
            }
            .form-login-area {
                width: 90%;
                max-width: 470px;
                h1 {
                    color: $blanco;
                    @extend .font-36;
                    font-family: $extra_font;
                    margin-bottom: 55px;
                }
                .form-area {
                    .form-row {
                        margin-bottom: 30px;
                        label {
                            display: block;
                            color: $blanco;
                            @extend .font-23;
                            @extend .bold;
                            margin-bottom: 20px;
                            margin-left: 10px;
                        }
                        .input-text {
                            border-radius: 100rem;
                            width: 100%;
                            background-color: $blanco;
                            padding: 0.5rem 2rem;
                            font-size: 16px;
                            font-family: $primary_font;
                        }
                        &.submit-area {
                            margin-top: 55px;
                        }
                    }
                }
            }
            .empresas-ccu-area {
                width: 100%;
                .empresas-list {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    .logo-empresa {
                        margin-right: 45px;
                        display: block;
                        height: auto;
                        &.ccu-cl {
                            width: 65px;
                        }
                        &.ccu-ar {
                            width: 65px;
                        }
                    }
                }
            }
        }
    }
}
