.m-marcas-area {
    width: 100%;
    .m-marcas-box {
        overflow: hidden;
        background-color: $verde-oscuro;
        padding: 25px 50px;
        @extend .border-radius-m;
        @extend .flex;
        @extend .align-start;
        @extend .justify-between;
        @extend .box-shadow;
        .ref-image-area {
            width: 15%;
        }
        .m-marcas-info {
            width: 85%;
            .heading {
                @extend .flex;
                @extend .align-start;
                @extend .justify-between;
            }
            .file-size {
                color: $blanco;
                @extend .font-10;
            }
            .size {
                color: $blanco;
                @extend .font-10;
            }
            h2 {
                color: $blanco;
                @extend .font-24;
                margin-bottom: 15px;
            }
            p {
                color: $blanco;
                @extend .font-15;
                @extend .light;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .button-area {
                margin-top: 30px;
                a {
                    color: $blanco;
                }
            }
        }
        &.big-area {
            min-width: 100%;
            padding: 40px 35px;
            @extend .align-center;
            margin-bottom: 20px;
            .ref-image-area {
                width: 58%;
                img {
                    width: 100%;
                    display: block;
                    height: auto;
                }
            }
            .m-marcas-info {
                width: 37%;
            }
        }
    }
}
