@media (max-width: $breakpoint-phone) {
    header {
        width: 100%;
        float: none;
        left: -100%;
    }
    main {
        width: 100%;
        font: none;
    }
    .top-header {
        .pre-head {
            .content {
                .currency-area {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .dolar-valor,
                    .uf-valor {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .name,
                        .icon-indicators {
                            display: none;
                        }
                    }
                    .splitter {
                        display: none;
                    }
                }
                .time-area {
                    margin-left: 0;
                    margin-top: 5px;
                    .icon-clock {
                        display: none;
                    }
                }
            }
        }
        .mid-head {
            .content {
                .today-div {
                    #current-date {
                        text-align: center;
                        width: 100%;
                        display: block;
                    }
                }
                .countries-area {
                    .slogan {
                        border-right: none;
                        padding-right: 0;
                        margin-right: 0;
                        text-align: center;
                    }
                    .flag-list {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        width: 100%;
                        margin-top: 0.5rem;
                        li {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 0.5rem;
                            padding-left: 0.5rem;
                            position: relative;
                            width: max-content !important;
                            margin-bottom: 0.5rem;
                            font: none;
                        }
                    }
                }
            }
        }
        .bot-head {
            padding: 1.5rem 0;
            .content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                form {
                    width: 50%;
                }
                .user-area {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: max-content !important;
                    margin-left: 10px;
                    .info-box {
                        display: none;
                    }
                }
            }
        }
    }
    .content {
        .heading-box-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btn-ver-todas {
                justify-content: flex-end;
            }
        }
    }
    .aldia-home {
        .slider-area {
            #aldia-home-slider {
                .slide {
                    .slide-content {
                        .content {
                            .button-area {
                                margin-top: 25px;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
    .home-main-container {
        .box-section {
            &.box-full {
                width: 100%;
            }
            &.box-two-third {
                width: 100%;
            }
            &.box-half {
                width: 100%;
            }
            &.box-third {
                width: 100%;
            }
        }
    }
    .modal-cambios {
        height: 90vh !important;
        width: 95% !important;
        .modal-heading {
            padding: 20px;
            .date-selector-area {
                .icon-box {
                    display: none;
                }
            }
        }
        .cambios-container {
            padding: 20px;
            #cambios-tabs {
                .tabs-triggers {
                    align-items: flex-end;
                    li {
                        a {
                            font-size: 12px !important;
                        }
                    }
                }
                .tab-content {
                    .persona-caja {
                        padding: 20px;
                        .content-persona {
                            .foto-persona {
                                width: 64px !important;
                                height: 64px !important;
                            }
                            .info-persona {
                                width: 100%;
                                padding: 0;
                            }
                        }
                    }
                    .slider-area {
                        #slider-gerentes {
                            .slide {
                                transition: all 500ms ease-in-out;
                                .content {
                                    .info-gerente {
                                        margin-top: 15px;
                                        .evento,
                                        .data {
                                            opacity: 1;
                                        }
                                        &:before {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .box-content-area {
        .content {
            .button-area {
                margin-top: 20px;
                text-align: left;
            }
        }
    }
    #about-us-boxes {
        .page-title-area {
            margin-bottom: 30px;
        }
        .about-box {
            padding: 20px;
            &.horizontal-box {
                & > .box-content {
                    margin: 0;
                    padding: 0;
                }
            }
            #p1 {
                border-right: none;
                border-bottom: 1px solid $verde-claro !important;
                margin-bottom: 25px;
                padding-bottom: 25px;
            }
            &.is-burdeo {
                margin-bottom: 20px;
            }
            #p5 {
                padding-right: 0;
                border-right: none;
                border-bottom: 1px solid $celeste !important;
                margin-bottom: 25px;
                padding-bottom: 25px;
            }
            #p6 {
                padding-bottom: 25px;
            }
            #p7 {
                padding-top: 25px;
                .info-1 {
                    .col-100 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .paragraph {
                        text-align: center;
                    }
                }
                .info-2 {
                    margin: 20px 0;
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
                .arrow {
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
                .info-3 {
                    .flex {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 15px;
                        .data-1,
                        .data-2 {
                            flex-grow: 2;
                        }
                        .arrow {
                            width: 12px;
                        }
                    }
                }
            }
            #p9 {
                .content-box-area {
                    .flex {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    #paises-ccu {
        width: 100%;
        .tabs-triggers {
            position: relative;
            left: 0;
            top: 0;
            transform: none;
            margin-bottom: 10px;
        }
        .tab-content {
            .content {
                .map-area {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    overflow: hidden;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
                .country-content {
                    margin: 0 auto;
                    max-width: 100%;
                    width: 100%;
                    overflow: hidden;
                    z-index: 3;
                    position: relative;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    .country-info {
                        background-color: $blanco;
                        padding: 25px;
                        .logo-country {
                            display: block;
                            width: auto;
                            height: 45px;
                        }
                        p {
                            margin: 20px 0;
                        }
                    }
                }
                .veil {
                    pointer-events: none;
                    width: 40%;
                    opacity: 0;
                }
            }
        }
    }
    .page-heading {
        &.simple-heading {
            .content {
                position: relative;
                z-index: 3;
            }
        }
    }
    .page-content-area {
        .page-content {
            padding: 20px 10px;
        }
        .wysiwyg {
            .modelo-gestion {
                width: 100%;
            }
        }
    }
    .news-area {
        &.layout-one-four-feat {
            .layout-news-area {
                width: 100%;
                .small-news-area {
                    min-width: 100%;
                }
            }
        }
        &.layout-one-third {
            .layout-news-area {
                width: 100%;
                .small-news-area {
                    min-width: 100%;
                }
            }
        }
    }
    .person-group-area {
        .person-box {
            max-width: 200px;
            margin: 0 auto 20px;
        }
    }
    .shortcuts-area {
        .shortcuts-boxes {
            .shortcut-box {
                margin-bottom: 10px;
            }
        }
    }
} //Se termina el media
