.rrhh-heading {
    @extend .relative;
    .content {
        width: 100%;
        position: relative;
        z-index: 4;
        padding: 30px;
        @extend .flex;
        @extend .justify-between;
        @extend .align-center;
        .intro-page {
            @extend .col-65;
            padding: 20px 50px;
            p {
                color: $blanco;
                @extend .font-26;
            }
        }
        .rrhh-logo {
            @extend .col-35;
            img {
                margin: 0 auto;
                display: block;
                width: 140px;
                height: auto;
            }
        }
    }
    &:before {
        display: none;
    }
}
.icono-color-area {
    .icono-color-box {
        .content-box {
            .bajada {
                p {
                    @extend .font-12;
                    color: $blanco;
                }
            }
        }
    }
}
.row-area {
    @extend .flex;
    @extend .align-center;
    @extend .justify-between;
    width: 100%;
    position: relative;
    .box-section {
        margin: 0 10px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &.box-2-wide {
            flex-grow: 2;
            flex-shrink: 2;
            flex-basis: 0;
        }
        &.box-1-wide {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
        }
    }
}
.contact-link-box {
    @extend .flex;
    @extend .align-center;
    @extend .justify-start;
    @extend .border-radius-m;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
    background-color: $blanco;
    @extend .box-shadow;
    & > div {
        position: relative;
        z-index: 2;
    }
    .icono-area {
        @extend .col-30;
        padding: 0 20px;
        img {
            display: block;
            margin: 0 auto;
            width: 110px;
            height: auto;
        }
    }
    .heading-area {
        padding: 30px;
        h4 {
            @extend .font-32;
            color: $verde-claro;
            font-weight: 300;
            line-height: 140%;
        }
    }
    .info-area {
        padding: 20px;
        p {
            @extend .font-12;
            color: $verde-claro;
            margin-bottom: 20px;
        }
    }
    &:before {
        mask-image: url(img/corner-left.svg);
        mask-repeat: no-repeat;
        mask-size: contain;
        background-color: rgba($verde-claro, 0.15);
        width: 60%;
        height: 100%;
        position: absolute;
        right: -1px;
        bottom: 0;
        top: auto;
        display: block;
        content: "";
        transform: rotate3d(0, 0, 1, 180deg);
        z-index: 1;
        padding-right: 30px;
    }
    &.layout-dos {
        @extend .justify-between;
        @extend .align-start;
        padding: 70px 30px;
        .icono-area {
            @extend .col-40;
        }
        .content-area {
            @extend .col-60;
            padding: 0 40px;
            h4 {
                @extend .font-32;
                color: $verde-claro;
                font-weight: 300;
                line-height: 140%;
                @extend .col-70;
                margin-bottom: 30px;
            }
            p {
                @extend .font-12;
                color: $verde-claro;
                margin-bottom: 30px;
            }
        }
        &:before {
            mask-image: url(img/corner-left.svg);
            mask-repeat: no-repeat;
            mask-size: contain;
            background-color: rgba($verde-claro, 0.15);
            width: 100%;
            height: 80%;
            position: absolute;
            right: -1px;
            bottom: 0;
            top: auto;
            display: block;
            content: "";
            transform: rotate3d(0, 0, 1, 180deg);
            z-index: 1;
            padding-right: 30px;
        }
    }
}
.contacto-person-small {
    .contact-link-box {
        &.layout-dos {
            padding: 50px 30px;
            .content-area {
                @extend .col-60;
                padding: 0 20px;
                h4 {
                    @extend .col-100;
                }
                p {
                    @extend .font-12;
                    color: $verde-claro;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

.contact-persons-area {
    padding-bottom: 50px;
    .persons-area {
        @extend .flex;
        @extend .align-center;
        @extend .justify-between;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        .contact-person-box {
            padding: 20px 20px 70px;
            margin-bottom: 20px;
            overflow: hidden;
            background-color: $blanco;
            position: relative;
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-direction: column;
            height: 360px;
            @extend .border-radius-m;
            -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
            .cargo-person {
                position: relative;
                z-index: 2;
                width: 70%;
                h3 {
                    @extend .bold;
                    @extend .font-21;
                    color: $verde-oscuro;
                }
            }
            .info-person {
                position: relative;
                z-index: 2;
                .nombre {
                    @extend .font-18;
                    @extend .bold;
                    color: $verde-claro;
                    margin-bottom: 10px;
                }
                .info-link {
                    @extend .light;
                    @extend .font-14;
                    color: $verde-oscuro;
                    display: block;
                }
            }
            &:before {
                mask-image: url(img/corner-left.svg);
                mask-repeat: no-repeat;
                mask-size: contain;
                background-color: rgba($verde-claro, 0.45);
                width: 90%;
                height: 95px;
                position: absolute;
                right: -1px;
                bottom: 0;
                top: auto;
                display: block;
                content: "";
                transform: rotate3d(0, 0, 1, 180deg);
                z-index: 1;
            }
        }
    }
}

.rrhh-areas-heading {
    @extend .relative;
    @extend .align-end;
    .content {
        width: 60%;
        padding: 100px 30px 50px;
        position: relative;
        z-index: 4;
        .icono-box {
            width: 55px;
            margin-bottom: 10px;
            img {
                width: 100%;
                height: auto;
            }
        }
        h1 {
            color: $blanco;
            @extend .font-50;
            @extend .uppercase;
        }
        .intro-page {
            margin-top: 30px;
            p {
                color: $blanco;
                @extend .font-16;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &:before {
        mask-image: url(img/corner-left.svg);
        mask-repeat: no-repeat;
        mask-size: contain;
        width: 100.1%;
        height: 120%;
        position: absolute;
        left: -1px;
        bottom: 0;
        top: auto;
        display: block;
        content: "";
        transform: rotate3d(1, 0, 0, 180deg);
        z-index: 3;
        padding-left: 30px;
    }
    &.bg-celeste {
        &:before {
            background-color: rgba($celeste, 0.8);
        }
    }
    &.bg-burdeo {
        &:before {
            background-color: rgba($burdeo, 0.8);
        }
    }
    &.bg-verde-oscuro {
        &:before {
            background-color: rgba($verde-oscuro, 0.8);
        }
    }
    &.bg-amarillo {
        &:before {
            background-color: rgba($amarillo, 0.8);
        }
    }
}
.manuales-section {
    .manuales-area {
        @extend .flex;
        @extend .align-start;
        @extend .justify-start;
        flex-wrap: wrap;
        margin: 10px -10px;
        position: relative;
        .manual-box {
            display: block;
            overflow: hidden;
            @extend .border-radius-m;
            @extend .box-shadow;
            flex: 1 1 10%;
            min-width: 240px;
            max-width: 280px;
            align-self: stretch;
            background-color: $blanco;
            margin: 10px;
            .rel-image {
                height: 180px;
                width: 100%;
                position: relative;
                .icono-box {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    padding: 20px;
                    z-index: 2;
                    img {
                        height: 40px;
                        width: auto;
                        display: block;
                    }
                }
                &:before {
                    mask-image: url(img/corner-left.svg);
                    mask-repeat: no-repeat;
                    mask-size: contain;
                    width: 100%;
                    height: 60%;
                    position: absolute;
                    left: -1px;
                    bottom: 0;
                    top: auto;
                    display: block;
                    content: "";
                    transform: rotate3d(0, 0, 1, 180deg);
                    z-index: 1;
                    padding-left: 30px;
                    background-color: $blanco;
                }
            }
            .title-box {
                padding: 30px 20px;
                h2 {
                    color: $negro;
                    @extend .font-16;
                }
            }
        }
    }
}
.direct-links-area {
    align-self: stretch;
    .content {
        height: 100%;
        .direct-links {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            .direct-link-box {
                width: 100%;
                @extend .border-radius-m;
                overflow: hidden;
                border: 1px solid $verde-claro;
                background-color: $blanco;
                @extend .box-shadow;
                padding: 20px;
                height: 42.5%;
                margin-top: 20px;
                .content-box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    .icono-box {
                        margin-bottom: 10px;
                        img {
                            margin: 0 auto;
                            width: auto;
                            height: 35px;
                            display: block;
                        }
                    }
                    h4 {
                        @extend .font-32;
                        @extend .bold;
                        color: $verde-claro;
                    }
                }
            }
        }
    }
}
.indicadores-formacion-area {
    align-self: stretch;
    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        .indicadores-box {
            flex-grow: 1;
            background-color: $blanco;
            @extend .box-shadow;
            @extend .border-radius-m;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
    }
}

.manual-file-area {
    align-self: stretch;
    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        .file-box {
            flex-grow: 1;
            @extend .box-shadow;
        }
    }
}
