#about-us-boxes {
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
    .size-1 {
        flex-grow: 1;
        flex-basis: 0;
        flex-shrink: 1;
    }
    .size-2 {
        flex-grow: 2;
        flex-basis: 0;
        flex-shrink: 2;
    }
    & > div > * {
        margin: 0 10px;
        -webkit-box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
    }
    & > * {
        margin: 0 0 20px;
    }
    .page-title-area {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 65px;
        h1 {
            @extend .font-50;
            @extend .bold;
            color: $verde-claro;
            text-transform: uppercase;
            line-height: 80%;
            margin: 0 15px 0 0;
            padding: 0 15px 0 0;
            border-right: 2px solid $verde-claro;
        }
        img {
            height: 40px;
            width: auto;
        }
    }
    .about-box {
        @extend .flex;
        @extend .align-start;
        @extend .justify-between;
        @extend .border-radius-m;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        overflow: hidden;
        padding: 12px;
        position: relative;
        background-color: $blanco;
        .corner-title {
            position: absolute;
            left: 0;
            top: 0;
            width: 190px;
            height: 85px;
            z-index: 2;
            span {
                font-size: 11px;
                font-weight: 900;
                text-transform: uppercase;
                width: 65px;
                display: block;
                position: relative;
                z-index: 2;
                color: $blanco;
                font-family: $secondary-font;
                margin: 13px 0 0 10px;
            }
            &:before {
                mask-image: url(img/corner-left.svg);
                mask-repeat: no-repeat;
                mask-size: contain;
                background-color: transparent;
                width: 100%;
                height: 100%;
                position: absolute;
                left: -1px;
                top: 0;
                display: block;
                content: "";
            }
        }
        .box-content {
            align-self: stretch;
            cursor: pointer;
            .head-box-area {
                .numero {
                    display: block;
                    font-size: 40px;
                    font-weight: 700;
                    font-family: $extra-font;
                    line-height: 100%;
                }
                .box-title {
                    font-family: $extra-font;
                    @extend .font-13;
                    line-height: 80%;
                    font-weight: 300;
                    b {
                        display: block;
                        @extend .font-16;
                    }
                }
            }
            .content-box-area {
                margin: 10px 0 5px;
                &.simple-content {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    p {
                        @extend .font-13;
                    }
                }
                &.image-content {
                    width: 95%;
                    height: auto;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
        &.vertical-box {
            flex-direction: column;
            align-self: stretch;
            .box-content {
                border-right: none;
                border-bottom: 1px solid transparent;
                padding-right: 0;
                margin-right: 0;
                margin-bottom: 10px;
                &:last-child {
                    border: none;
                    margin-right: 0;
                    margin-bottom: 0;
                }
            }
        }
        &.horizontal-box {
            width: 100%;
            & > .box-content {
                border-right-color: transparent;
                border-right-width: 1px;
                border-right-style: solid;
                padding-right: 25px;
                margin-right: 25px;
                border-bottom: none !important;
                &:last-child {
                    border: none;
                    margin-right: 0;
                }
            }
        }
        &.is-verde {
            border-color: $verde-claro;
            .corner-title {
                &:before {
                    background-color: $verde-claro;
                }
            }
            .box-content {
                .head-box-area {
                    .numero {
                        color: $verde-oscuro;
                    }
                    .box-title {
                        color: $verde-oscuro;
                    }
                }
            }
        }
        &.is-burdeo {
            border-color: $burdeo;
            .corner-title {
                &:before {
                    background-color: $burdeo;
                }
            }
            .box-content {
                .head-box-area {
                    .numero {
                        color: $burdeo;
                    }
                    .box-title {
                        color: $burdeo;
                    }
                }
            }
        }
        &.is-celeste {
            border-color: $celeste;
            .corner-title {
                &:before {
                    background-color: $celeste;
                }
            }
            .box-content {
                .head-box-area {
                    .numero {
                        color: $celeste;
                    }
                    .box-title {
                        color: $celeste;
                    }
                }
            }
        }
        &.is-amarillo {
            border-color: $amarillo;
            .corner-title {
                &:before {
                    background-color: $amarillo;
                }
            }
            .box-content {
                .head-box-area {
                    .numero {
                        color: $amarillo;
                    }
                    .box-title {
                        color: $amarillo;
                    }
                }
            }
        }

        #p1 {
            width: 50%;
            border-right: 1px solid $verde-claro;
        }
        #p2 {
            width: 50%;
        }
        #p3 {
            border-bottom-color: $burdeo;
            padding-bottom: 25px;
        }
        #p5 {
            border-right: 1px solid $celeste;
            width: 50%;
            padding-right: 25px;
        }
        #p6 {
            padding-left: 10px;
            width: 50%;
            img {
                margin-top: -20px;
            }
        }
        #p7 {
            padding-top: 10px;
            border-top: 1px solid $celeste;
            .info-1 {
                flex-grow: 1;
                .data-2 {
                    p {
                        @extend .font-10;
                    }
                }
            }
            .info-2 {
                margin: 0 26px;
            }
            .info-3 {
                flex-grow: 1;
                .data-2 {
                    p {
                        @extend .font-10;
                    }
                }
            }
            .arrow {
                margin: 0 10px;
            }
        }
        #p8 {
            p {
                margin-right: 20px;
            }
        }
        #p9 {
            padding-top: 10px;
            border-top: 1px solid $amarillo;
            p {
                margin-right: 20px;
            }
        }
    }
    .vertical-box {
        .horizontal-box {
            width: 100%;
        }
    }
}

#about-timeline {
    overflow: hidden;
    clear: both;
    .slider-3-container {
        overflow: hidden;
        @extend .border-radius-xl;
        .slider-3 {
            .slide {
                .content {
                    padding: 100px 30px 30px;
                    color: $blanco;
                    @extend .flex;
                    @extend .justify-between;
                    @extend .align-center;
                    @extend .col-100;
                    @extend .z-index-3;
                    @extend .relative;
                    .image-area {
                        align-self: stretch;
                        overflow: hidden;
                        max-height: 350px;
                        @extend .border-radius-xl;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .pre-title {
                        @extend .font-18;
                    }
                    .year {
                        margin: 10px 0 20px;
                        @extend .font-50;
                        @extend .bold;
                    }
                    .title {
                        @extend .font-18;
                        @extend .extra-bold;
                        @extend .uppercase;
                    }
                    .description {
                        @extend .font-13;
                        margin: 20px 0 0;
                        padding: 20px 0 0;
                        border-top: 1px solid $verde-claro;
                    }
                    .button {
                        background-color: $blanco;
                        color: $negro;
                        display: inline-block;
                        margin-top: 40px;
                        @extend .bold;
                        @extend .uppercase;
                        @extend .transition;
                        &:hover {
                            background-color: $negro;
                            color: $blanco;
                        }
                    }
                }
                .veil {
                    background-color: rgba($verde-oscuro, 0.95);
                }
            }
            ul.slick-dots {
                width: 10px;
                top: 50%;
                right: 10%;
                li {
                    margin: 2.5px 0;
                }
            }
            .slick-prev {
                left: 25%;
            }
            .slick-next {
                right: 20%;
            }
        }
        .slider-nav-3 {
            color: $blanco;
            left: 0;
            top: 30px;
            width: 100%;
            height: 60px;
            @extend .z-index-4;
            @extend .absolute;
            .slick-list {
                height: 100% !important;
                padding-left: 0 !important;
                li {
                    padding: 0 10px 7px;
                    cursor: pointer;
                    border-bottom: 2px solid $verde-claro;
                    text-align: center;
                    @extend .font-20;
                    @extend .bold;
                    @extend .relative;
                    @extend .transition;
                    span {
                        padding: 8px 15px;
                        background-color: $verde-oscuro;
                        color: $blanco;
                        font-family: $extra-font;
                        font-size: 10px;
                        border-radius: 100px;
                        @extend .transition;
                    }
                    &:after {
                        width: 2px;
                        height: 12px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        bottom: -7px;
                        background-color: $verde-claro;
                        content: "";
                        @extend .transition;
                        @extend .absolute;
                    }
                    &:hover,
                    &.slick-current {
                        span {
                            background-color: $verde-claro;
                        }
                        &:after {
                            width: 8px;
                            height: 8px;
                            bottom: -5px;
                            border-radius: 100px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $breakpoint-tablet) {
        .slider-3-container {
            .slider-3 {
                .slide {
                    .content {
                        padding: 120px 10% 200px;
                        width: 100%;
                    }
                }
            }
            .slider-nav-3 {
                right: 0;
                width: 100%;
                top: inherit;
                bottom: 50px;
                height: auto;
                .slick-list {
                    height: 100% !important;
                    padding-left: 10px !important;
                    li {
                        border: none;
                        padding: 20px 0 40px;
                        text-align: center;
                        &::after {
                            left: 0;
                            top: inherit;
                            bottom: 15px;
                            right: 0;
                            margin: auto;
                        }
                    }
                }
                &::after {
                    width: 100%;
                    height: 1px;
                    background-color: rgba($blanco, 0.25);
                    content: "";
                    bottom: 20px;
                    position: absolute;
                }
            }
        }
    }
}

.tabs-area {
    overflow: hidden;
    @extend .border-radius-xl;
    -webkit-box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
    position: relative;
    min-height: 400px;
    #map-canvas {
        position: absolute;
        width: 100%;
        min-height: 400px;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
}
#paises-ccu {
    @extend .relative;
    width: 100%;
    z-index: 2;
    .tabs-triggers {
        position: absolute;
        @extend .flex;
        @extend .flex-column;
        @extend .z-index-4;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        li {
            padding: 10px;
            border-right: 2px solid $verde-claro;
            align-self: stretch;
            text-align: right;
            @extend .font-15;
            @extend .uppercase;
            @extend .transition;
            a {
                color: $verde-claro;
                @extend .transition;
            }
            &.ui-tabs-active {
                border-right-color: $verde-oscuro;
                a {
                    color: $verde-oscuro;
                    @extend .bold;
                }
            }
            &:hover {
                border-right-color: $verde-oscuro;
                a {
                    color: $verde-oscuro;
                }
            }
        }
    }
    .tab-content {
        .content {
            width: 100%;
            @extend .relative;
            @extend .flex;
            @extend .justify-end;
            @extend .align-center;
            .map-area {
                @extend .absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
            }
            .country-content {
                margin: 45px 100px 45px 0;
                max-width: 300px;
                width: 90%;
                overflow: hidden;
                z-index: 3;
                @extend .border-radius-m;
                .country-slide {
                    width: 100%;
                    height: 130px;
                    @extend .relative;
                    .fotos-slider {
                        width: 100%;
                        height: 100%;
                        .slick-list {
                            width: 100%;
                            height: 100%;
                            .slick-track {
                                height: 100%;
                                .slide {
                                    height: 100%;
                                    .imagen {
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                    .arrow {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100px;
                        background-color: $verde-claro;
                        color: $blanco;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 3;
                        &.prev {
                            left: 10px;
                        }
                        &.next {
                            right: 10px;
                        }
                    }
                }
                .country-info {
                    background-color: $blanco;
                    padding: 25px;
                    .logo-country {
                        display: block;
                        width: auto;
                        height: 45px;
                    }
                    p {
                        margin: 20px 0;
                        @extend .font-12;
                    }
                }
            }
            .veil {
                pointer-events: none;
                width: 40%;
                opacity: 0.95;
                @include linear-gradient(
                    rgba($blanco, 1),
                    rgba($blanco, 0),
                    90deg
                );
            }
        }
    }
}
.ser-modal {
    .close {
        top: 4% !important;
    }
}
.p-modal {
    height: 85vh !important;
    .p-modal-area {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        min-height: 100%;
        .intro-area {
            width: 40%;
            padding: 30px 20px 30px 50px;
            min-height: 100%;
            align-self: stretch;
            color: $blanco;
            .p-number {
                @extend .font-70;
                font-family: $extra_font;
                font-weight: 700;
            }
            .p-titulo {
                @extend .font-30;
                font-family: $extra_font;
                margin-bottom: 20px;
                b {
                    display: block;
                }
            }
            .p-bajada {
                @extend .font-14;
                font-weight: 300;
            }
            &.bg-verde-claro {
                background-color: $verde-claro;
            }
            &.bg-celeste {
                background-color: $celeste;
            }
            &.bg-burdeo {
                background-color: $burdeo;
            }
            &.bg-amarillo {
                background-color: $amarillo;
            }
        }
        .content-area {
            width: 60%;
            min-height: 100%;
            align-self: stretch;
            padding: 40px;
            p {
                color: $gris-2;
            }
            ul {
                margin: 10px;
            }
            li {
                color: $gris-2;
                margin: 5px;
            }
        }
    }
}
.slide-area {
    height: 100%;
}
#slider-p6 {
    width: 100%;
    height: 100%;
    .slick-list {
        height: 100%;
        .slick-track {
            height: 100%;
        }
    }
    .slide {
        .imagen-p {
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
