.single-post-heading {
    @extend .relative;
    align-items: flex-end !important;
    justify-content: flex-end !important;
    height: 535px;
    .content {
        width: 100%;
        max-width: 780px;
        padding: 40px 40px 40px;
        position: relative;
        z-index: 4;
        span {
            @extend .font-18;
            color: $blanco;
            @extend .light;
            @extend .uppercase;
        }
        h1 {
            color: $blanco;
            @extend .font-36;
        }
        .intro-page {
            margin-top: 20px;
            p {
                color: $blanco;
                @extend .font-14;
                margin-bottom: 0;
            }
        }
    }
    &:before {
        display: none;
    }
}
.single-post-content-area {
    .block-content {
        width: 100%;
        max-width: 780px;
        padding: 0 40px;
        position: relative;
        z-index: 4;
        margin: 10px 0 0 auto;
    }
    .wysiwyg {
        float: none;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $verde-oscuro;
            font-weight: 400;
        }
        p {
            @extend .font-14;
        }
        h1 {
            @extend .font-28;
        }
        h2 {
            @extend .font-26;
        }
        h3 {
            @extend .font-24;
        }
        h4 {
            @extend .font-21;
        }
        h5 {
            @extend .font-18;
        }
        h6 {
            @extend .font-16;
        }
    }
    .slider-area {
        width: 100%;
        position: relative;
        padding: 40px;
        margin-bottom: 90px;
        .slider-galeria {
            width: 100%;
            height: 450px;
            @extend .border-radius-m;
            @extend .box-shadow;
            overflow: hidden;
            .slick-list {
                height: 100%;
                .slick-track {
                    height: 100%;
                }
            }
            .slide {
                width: 100%;
                height: 100%;
                .imagen-gal {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        #gal-arrow-prev {
            position: absolute;
            left: 25px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
        }
        #gal-arrow-next {
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
        }
        .arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 100rem;
            background-color: $verde-claro;
            color: $blanco;
            font-size: 16px;
            margin: 0 2px;
            text-align: center;
            line-height: 0;
            &:hover {
                background-color: $verde-oscuro;
            }
        }
        .slider-nav-galeria {
            width: 80%;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 5;
            bottom: -50px;
            .slick-list {
                height: 100%;
                .slick-track {
                    height: 100%;
                }
            }
            .slide {
                width: 100%;
                height: 130px;
                margin: 20px;
                cursor: pointer;
                .imagen-gal {
                    width: 100%;
                    height: 100%;
                    @extend .border-radius-m;
                    @extend .box-shadow;
                    overflow: hidden;
                }
            }
        }
    }
}

.comentarios-post {
    .comments-area {
        width: 100%;
        max-width: 700px;
        padding: 40px 30px 40px;
        position: relative;
        z-index: 4;
        margin: 50px 40px 50px auto;
        background-color: $gris-3;
        @extend .border-radius-m;
        @extend .box-shadow;
        overflow: hidden;
        #reply-title {
            color: $verde-oscuro;
            margin-bottom: 15px;
        }
        .comment-respond {
            margin-bottom: 15px;
            #commentform {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                flex-wrap: wrap;
                .comment-form-author {
                    flex: 1 1 0;
                    margin: 10px;
                }
                .comment-form-email {
                    flex: 1 1 0;
                    margin: 10px;
                }
                .comment-form-comment {
                    width: 100%;
                    margin: 10px;
                }
                input[type="text"] {
                    width: 100%;
                    padding: 15px;
                    border: 1px solid $verde-claro;
                    @extend .border-radius-m;
                    background-color: $blanco;
                }
                .comment-avatar {
                    position: relative;
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    border-radius: 150px;
                    margin-right: 22px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .comment-form-comment {
                    flex-grow: 1;
                    align-self: stretch;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    textarea {
                        width: 100%;
                        padding: 15px;
                        border: 1px solid $verde-claro;
                        @extend .border-radius-m;
                    }
                }
                .form-submit {
                    width: 100%;
                    margin: 10px;
                    text-align: right;
                }
            }
        }
        .comment-list {
            .comment {
                .comment-block {
                    .profile-img-area {
                        position: relative;
                        width: 50px;
                        height: 50px;
                        .profile-img {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            border-radius: 500px;
                        }
                    }
                }
            }
        }
    }
}
