.wysiwyg{
	@extend .col-100;
	@extend .left;
	@include clearfix;
	/*------------------------------------------------------*/
	/*----------------------- TÍTULOS ----------------------*/
	/*------------------------------------------------------*/
	@for $i from 1 through 6{
		h#{$i}{
			@extend .bold;
			@if $i == 1{
				font-size: $font * 42;
			}
			@elseif $i < 3{
				font-size: $font * 42 / ($i/1.7);
			}@else{
				font-size: ($font * 42) / ($i/2.25);
			}
		}
	}
	/*------------------------------------------------------*/
	/*---------------------- CONTENIDO ---------------------*/
	/*------------------------------------------------------*/
	p,ol,ul{
		@extend .font-16;
		margin: 18px 0;
	}
	a{
		padding: 0 5px;
		box-shadow: inset 0px -3px 0 0 $negro;
		@extend .bold;
		&:hover{
			color: $blanco;
			box-shadow: inset 0px -20px 0 0 $negro;
		}
	}
	/*------------------------------------------------------*/
	/*------------------------ LISTAS ----------------------*/
	/*------------------------------------------------------*/
	ul,ol{
		padding-left: 7%;
		li{
			margin: 4px 0;

		}
	}
	ul{
		li{
			@extend .relative;
			@include icomoon("icon-chevron-derecha");
			&:before{
				font-size: 9px;
				line-height: 10px;
				text-align: center;
				color: $blanco;
				background-color: $negro;
				width: 10px;
				height: 10px;
				left: -18px;
				top: 6.5px;
				@include border-radius(10px);
				@extend .absolute;
			}
		}
	}
	ol{
		list-style: decimal;
	}
	/*------------------------------------------------------*/
	/*------------------------- CITA -----------------------*/
	/*------------------------------------------------------*/
	blockquote{
		padding-left: 2.5%;
		margin-top: 20px;
		margin-bottom: 20px;
		@extend .italic;
		@extend .wrap-xl;
		@extend .relative;
		&:before{
			position: absolute;
			height: calc(100% - 46px);
			top: 26px;
			left: 0;
			width: 4px;
			background-color: $negro;
		}
		p,ol,ul{
			@extend .font-32;
		}
	}

	/*------------------------------------------------------*/
	/*------------------------ TABLA -----------------------*/
	/*------------------------------------------------------*/
	table{
		border: none;
		width: 100%;
		margin: 10px 0;
		tr{
			td{
				padding: 15px;
				border: none;
				@extend .font-15;
				@extend .regular;
			}
		}
		tr:first-child{
			background-color: $negro !important;
			td{
				color: $blanco;
				@extend .bold;
			}
		}
		tr:nth-child(even){
			background-color: $blanco;
		}
		tr:nth-child(odd){
			background-color: rgba($negro, 0.04);
		}
	}
	/*------------------------------------------------------*/
	/*------------------------ MEDIA -----------------------*/
	/*------------------------------------------------------*/
	p.wp-caption-text,
	.gallery-caption{
		margin: 10px 0;
		color: $azul-oscuro;
		@extend .italic;
		@extend .font-11;
	}
	.wp-caption{
		&.aligncenter{
			margin: 0 auto;
		}		
		&.alignnone{
			width: 100% !important;
			img{
				width: 100%;
				height: auto;
			}
		}
		&.alignleft,
		&.alignright{
			width: 35% !important;
			img{
				width: 100%;
				height: auto;
			}
		}
		&.alignleft{
			margin: 0 20px 20px 0;
			@extend .left;
		}
		&.alignright{
			margin: 0 0 20px 20px;
			@extend .right;
		}
	}
	img{
		height: auto;
		&.alignleft,
		&.alignright{
			width: 35%;
		}
		&.alignleft{
			float: left;
			margin: 0 18px 18px 0;
		}
		&.alignright{
			float: right;
			margin: 0 0 18px 18px;
		}
		&.aligncenter{
			margin: 0 auto;
			display: block;
		}
		&.alignnone{
			@extend .wrap-xl;
		}
	}
	iframe{
		height: 65vh;
		width: 100%;
	}
	.gallery{
		grid-gap: $font * 10;
		.gallery-item{
			width: 100% !important;
			height: 100%;
			margin: 0 !important;
			overflow: hidden;
			@extend .relative;
			.gallery-icon{
				@extend .left;
				width: 100%;
				height: 25vmin;
				img{
					object-fit: cover;
					width: 100%;
					height: 100%;
					@extend .transition-slow;
				}
				a{
					padding: 0;
					box-shadow: none;
					width: 100%;
					height: 100%;
					overflow: hidden;
					@extend .left;
					&:hover{
						img{
							@include scale(1.15);
						}
					}
				}
			}
			.gallery-caption{
				width: 100%;
				@include clearfix;
			}
		}
		br{
			display: none;
		}
	}
}
