.block-2{
	color: $blanco;
	@extend .relative;
	@extend .clearfix;
	@extend .col-100;
	@extend .left;
	.content,
	.content-mini{
		padding: 180px 10% 70px;
		@extend .z-index-3;
		@extend .relative;
	}
	.content{
		@extend .col-60;
		.pre-title{
			@extend .font-18;
		}
		.title{
			@extend .bold;
			@extend .font-28;
		}
		.description{
			margin-top: 20px;
			@extend .font-16;
		}
		.button{
			background-color: $blanco;
			color: $negro;
			display: inline-block;
			margin-top: 20px;
		}
	}
	.content-mini{
		@extend .col-35;
		img{
			width: 100%;
			height: auto;
			margin-bottom: 20px;
		}
		.pre-title{
			@extend .font-16;
		}
		.title{
			@extend .font-21;
			@extend .bold;
		}
	}
	&.align-left{
		.content{
			padding-right: 0;
			@extend .left;
		}
		.content-mini{
			padding-left: 0;
			@extend .right;
			@extend .text-right;
		}
	}
	&.align-right{
		.content{
			padding-left: 0;
			@extend .text-right;
			@extend .right;
		}
		.content-mini{
			padding-right: 0;
			@extend .left;
		}
	}
	.veil{
		background-color: rgba($negro, 0.6);
	}
}

@media (max-width: $breakpoint-tablet){
	.block-2{
		.content,
		.content-mini{
			width: 90%;
			text-align: left !important;
		}
		.content{
			padding-top: 50px;
		}
		.content-mini{
			padding-top: 80px !important;
			padding-bottom: 0;
			img{
				max-height: 150px;
				width: auto;
			}
		}
	}
}
