.slider-4-container{
	@extend .col-100;
	@extend .left;
	@extend .relative;
	@include clearfix;
	.slider-4{
		@extend .col-100;
		@extend .left;
		@extend .relative;
		@include clearfix;
		.slide{
			@extend .col-100;
			@extend .left;
			@extend .relative;
			@extend .overflow-hidden;
			@include clearfix;
			.content{
				padding: 200px 10% 150px 0;
				color: $blanco;
				@extend .col-50;
				@extend .z-index-3;
				@extend .relative;
				@extend .right;
				.pre-title{
					@extend .font-20;
				}
				.title{
					@extend .font-32;
					@extend .extra-bold;
				}
				.description{
					@extend .font-16;
				}
				.button{
					background-color: $blanco;
					color: $negro;
					display: inline-block;
					margin-top: 40px;
					@extend .bold;
					@extend .uppercase;
					@extend .transition;
					&:hover{
						background-color: $negro;
						color: $blanco;
					}
				}
			}
			.veil{
				background-color: rgba($negro, 0.5);
			}
		}
		ul.slick-dots{
			width: 40%;
			bottom: 50px;
			right: 10%;
			li{
				margin: 0 2.5px;
			}
		}
		.slick-prev{
			left: 42.5%;
		}
		.slick-next{
			right: 2.5%;
		}
	}
	.slider-nav-4{
		color: $negro;
		@extend .col-100;
		@extend .left;
		.slick-list{
			padding: 0 !important;
			li{
				padding: 20px;
				cursor: pointer;
				color: $blanco;
				background-color: rgba($negro, 0.25);
				@extend .font-20;
				@extend .bold;
				@extend .relative;
				@extend .transition;
				@include opacity(.5);
				&:hover{
					.photography{
						@include rotate(15deg);
					}
				}
				&:hover,
				&.slick-center{
					color: $blanco;
					@include opacity(1);
				}
				&:hover,
				&.slick-center{
					.photography{
						@extend .no-grayscale;
					}
				}
				.photography{
					width: 50px;
					height: 50px;
					@extend .left;
					@extend .grayscale;
					@extend .transition-slow;
					@extend .overflow-hidden;
					@include border-radius(50px);
				}
				.content{
					width: calc(100% - 65px);
					@extend .right;
					.pre-title{
						@extend .font-12;
						@extend .regular;
					}
					.title{
						@extend .font-15;
					}
				}
			}
		}
	}
}

@media (max-width: $breakpoint-tablet){
	.slider-4-container{
		.slider-4{
			.slide{
				.content{
					padding: 120px 10% 150px;
					width: 100%;
				}
			}
		}
		ul.slick-dots{
			width: 80% !important;
		}
		ul.slider-nav-4{
			li{
				.photography{
					display: none;
				}
				.content{
					width: 100% !important;
				}
			}
		}
	}
}
