.slider-3-container {
    .slider-3 {
        .slide {
            .content {
                padding: 200px 30% 100px 0;
                color: $blanco;
                @extend .col-65;
                @extend .z-index-3;
                @extend .relative;
                @extend .right;
                .pre-title {
                    @extend .font-18;
                }
                .year {
                    margin: 10px 0 20px;
                    @extend .font-32;
                    @extend .bold;
                }
                .title {
                    @extend .font-18;
                    @extend .extra-bold;
                }
                .description {
                    @extend .font-15;
                }
                .button {
                    background-color: $blanco;
                    color: $negro;
                    display: inline-block;
                    margin-top: 40px;
                    @extend .bold;
                    @extend .uppercase;
                    @extend .transition;
                    &:hover {
                        background-color: $negro;
                        color: $blanco;
                    }
                }
            }
            .veil {
                background-color: rgba($negro, 0.5);
            }
        }
        ul.slick-dots {
            width: 10px;
            top: 50%;
            right: 10%;
            li {
                margin: 2.5px 0;
            }
        }
        .slick-prev {
            left: 25%;
        }
        .slick-next {
            right: 20%;
        }
    }
    .slider-nav-3 {
        color: $blanco;
        left: 0;
        top: 30px;
        width: 100%;
        height: 60px;
        @extend .z-index-4;
        @extend .absolute;
        .slick-list {
            height: 100% !important;
            padding-left: 0 !important;
            li {
                padding: 10px;
                cursor: pointer;
                border-bottom: 2px solid $verde-claro;
                text-align: center;
                @extend .font-20;
                @extend .bold;
                @extend .relative;
                @extend .transition;
                span {
                    padding: 8px 15px;
                    background-color: $verde-oscuro;
                    color: $blanco;
                    font-family: $extra-font;
                    font-size: 10px;
                    border-radius: 100px;
                    @extend .transition;
                }
                &:after {
                    width: 2px;
                    height: 12px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: -7px;
                    background-color: $verde-claro;
                    content: "";
                    @extend .transition;
                    @extend .absolute;
                }
                &:hover,
                &.slick-current {
                    span {
                        background-color: $verde-claro;
                    }
                    &:after {
                        width: 8px;
                        height: 8px;
                        bottom: -5px;
                        border-radius: 100px;
                    }
                }
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .slider-3-container {
        .slider-3 {
            .slide {
                .content {
                    padding: 120px 10% 200px;
                    width: 100%;
                }
            }
        }
        .slider-nav-3 {
            right: 0;
            width: 100%;
            top: inherit;
            bottom: 50px;
            height: auto;
            .slick-list {
                height: 100% !important;
                padding-left: 10px !important;
                li {
                    border: none;
                    padding: 20px 0 40px;
                    text-align: center;
                    &::after {
                        left: 0;
                        top: inherit;
                        bottom: 15px;
                        right: 0;
                        margin: auto;
                    }
                }
            }
            &::after {
                width: 100%;
                height: 1px;
                background-color: rgba($blanco, 0.25);
                content: "";
                bottom: 20px;
                position: absolute;
            }
        }
    }
}
