.block-5{
	@extend .left;
	@extend .col-100;
	@include clearfix;
	li{
		margin-top: 20px;
		@extend .left;
		@extend .col-100;
		@include clearfix;
		.trigger{
			padding: 15px 50px 15px 15px;
			color: $negro;
			border: 1px solid $negro;
			cursor: pointer;
			@extend .transition;
			@extend .relative;
			@extend .font-18;
			@extend .left;
			@extend .col-100;
			@include clearfix;
			i{
				right: 15px;
				top: 13px;
				font-size: 25px;
				@extend .absolute;
				@extend .transition-slower;
			}
			&.ui-state-active{
				i{
					@include rotate(45deg);
				}
			}
		}
		&:first-child{
			margin-top: 0;
		}
		.wysiwyg{
			padding: 15px;
			@extend .left;
			@extend .col-100;
			@include clearfix;
			&.ui-accordion-content-active{
				border: 1px solid $negro;
				margin-top: -1px;
			}
		}
	}
}
